---
import Header from '../components/Header.astro'
import HeroSection from '../components/HeroSection.astro'
import ProcessSection from '../components/ProcessSection.astro'
import ServicesSection from '../components/ServicesSection.astro'
import FactsSection from '../components/FactsSection.astro'
import AboutSection from '../components/AboutSection.astro'
import PricingSection from '../components/PricingSection.astro'
import Footer from '../components/Footer.astro'
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Helio CRM | AI-powered business solutions for Home Service companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/webclip.png">
    <style>
      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </head>
  <body class="bg-white text-gray-900 font-sans">
    <Header />
    <HeroSection />
    <ProcessSection />
    <ServicesSection />
    <FactsSection />
    <AboutSection />
    <PricingSection />
    <Footer />
  </body>
</html>